*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
}

.calculator{

width:430px;
padding:20px;
border-radius:20px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
box-shadow:0 10px 30px rgba(0,0,0,.4);

}

h2{

text-align:center;
color:white;
margin-bottom:20px;

}

.display input{

width:100%;
height:70px;
font-size:28px;
padding:10px;
text-align:right;
border:none;
border-radius:12px;
background:#111;
color:#00ff99;
margin-bottom:15px;

}

.mode{

color:white;
margin-bottom:15px;
text-align:right;

}

.buttons{

display:grid;
grid-template-columns:repeat(5,1fr);
gap:12px;

}

button{

height:60px;
border:none;
border-radius:12px;
font-size:18px;
cursor:pointer;
background:#2f3640;
color:white;
transition:.2s;

}

button:hover{

background:#4cd137;
transform:scale(1.05);

}

.equal{

grid-row:span 2;
background:#e84118;
height:132px;

}

.equal:hover{

background:#ff5722;

}

.zero{

grid-column:span 2;

}

@media(max-width:500px){

.calculator{

width:95%;

}

button{

height:55px;
font-size:16px;

}

.display input{

font-size:24px;

}

}